<nav class="navbar  top-navbar " role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><strong> 博客管理中心</strong></a>

            </div>
            <div class="pull-right">
                <a class="add-article " href="/admin/mdeditor" target="_blank"><span class="glyphicon glyphicon-pencil"></span> 写博客</a>
                <a class="logout" href="/admin/logout"> 退出</a>
            </div>
        </div>
    </div>
</nav>